#time_bar {
  background-color: #f00;
  height: 30px;
}

.divider {
  background-color: #0f0;
  height: 30px;
  width: 10px;
  float: left;
  position: absolute;
  cursor: move;
}

#move_layer {
  height: 30px;
  width: 100%;
  float: left;
  position: absolute;
  background-color: #00f;
  opacity: 0.1;
}

#label_bar {
  background-color: #ff0;
  padding: 0 0 24px 0;
}

#label_bar input {
  position: absolute;
  float: left;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100px;
}
